.menu {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.menuPanel {
    width: auto;
    padding-right: 9vh;
    padding-top: 0.7vh;
}

.buttonPanel {
    font-family: "Comfortaa", sans-serif;
    font-size: 17.5px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 1.2vw;
}

.buttonPanel:hover {
    text-decoration: underline;
    color: #284297;
}

.buttonPanel:last-child {
    padding-right: 0;
}

.menuAuthorization {
    display: flex;
    border: solid 3px #b4ddd6;
    border-radius: 7px;
    flex-wrap: nowrap;
}

.buttonAuthorization {
    font-family: "Rubik", sans-serif;
    padding: 3px 8px;
    font-size: 15px;
    line-height: 2;
}

.buttonAuthorization:last-child {
    border-left: solid 3px #b4ddd6;    
}

.buttonAuthorization:last-child:hover {
    border-radius: 0 5px 5px 0;
    background-color: antiquewhite;
}

.buttonAuthorization:first-child:hover {
    background-color: antiquewhite;
    border-radius: 5px 0 0 5px;
}