.storagePage {
    min-height: 90vh;
    height: 100%;
    width: 100%;
    background-image: url(../resources/StoragePage/backgroundStoragePage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.containerStoragePage {
    padding: 20px 0;
    background-color: #ffffffd4;    
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: flex-start;
}