.logInContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;

    background-color: #0000008a;
    width: 60%;
    height: 80vh;
    border: solid 3px #c7a8a8;
    border-radius: 3rem;
    margin: 30px 0;
}

.logInLabel {
    color: #f0ffff;
    line-height: 3rem;
    font-size: 1.2rem;
    font-family: "Comfortaa", sans-serif;
}

.logInInput {
    width: 50%;
    background: #f5f5dc;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

.buttonLogIn {
    margin-top: 4rem;
    font-family: "Rubik", sans-serif;
}