.header {
    border-bottom: solid 3px #8c838cfe;
    position: sticky;
    top: 0;
    z-index: 1;
    height: auto;
    padding-bottom: 15px;
    width: 100%;
    background-color: #c5c1c5fe;
    text-align: center;
}

.headerMain {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5px;
    justify-content: space-between;
}

.header_icon {
    width: 100px;
    height: 30px;
}