.signUp {
    height: auto;
    width: 100%;
    background-image: url(../../resources/SignUp/backgroundSignUp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}